h1 {
    margin: 20px auto;
    width: 400px;
    font-family: 'Mochiy Pop One';
    word-spacing: 10px;
    text-shadow: 1px 1px 2px deepskyblue;
    margin-bottom: 23px;
    
}

h2 {
    margin: 20px auto;
    width: 400px;
    font-family: 'Mochiy Pop One';
    font-size: 1.10rem;
    /* padding-left: 280px;
    padding-top: 9px; */
    /* display: flex;
    align-items: center; */
    }

h2 span {
    font-size: 0.85rem;
    padding-left: 35px;
    font-family: sans-serif;
    font-style: italic;
} 
    

body {
    background-color: oldlace;
}    


#form-container {
    margin: 20px auto;
    width: 400px;
    font-family: sans-serif;
    padding-top: 10px;
    }

#form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    
}    

#form-container input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 7px;
    border-width: 1px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'Saira';
}

#submit {
    cursor: pointer;
    border: none;
    background-color: deepskyblue;
    font-family: 'Rampart One';
    color: beige;
    padding: 5px 0;
    word-spacing: 6px;
    font-size: 0.96rem;
}

#submit:hover{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
    animation: slidebg 2s linear infinite;
    font-family: 'Rampart One';
}

.meme-container {
    position: relative;
    margin: 1rem;
    max-width: 35rem;
}

#big-meme-container {
    position: relative;
    margin: 1rem;
    max-width: 33rem;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.text-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    word-spacing: 7px;
    color: rgb(255, 255, 255);
    font-family: 'Mochiy Pop One';
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px; 

}

p {
    position: absolute;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Mochiy Pop One';
}

img {
    display: block;
    border-radius: 5rem;
}